.router-link-active {
    color: #fff;
}

.router-link-active::after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgb(255, 64, 129);
    -webkit-animation: border-expand .2s cubic-bezier(.4, 0, .4, 1) .01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4, 0, .4, 1) .01s alternate forwards;
    transition: all 1s cubic-bezier(.4, 0, 1, 1);
}

.mdl-tabs__tab-bar {
    display: inline;
}

header {
    background-color: #3f51b5;
    overflow: auto;
}

main {
    margin: 2em;
}

.card-wide {
    width: 100%;
    max-width: 500px;
}

.card-wide .mdl-card__title {
    background-color: #3f51b5;
    color: #fff;
}

.mdl-card {
    min-height: 0;
}

.mdl-card__supporting-text {
    color: rgba(0, 0, 0, 0.87);
}