<header>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a [routerLink]="['/']" class="mdl-layout__tab mdl-js-ripple-effect mdl-button--colored">Home<span class="mdl-ripple"></span></a>
            <a [routerLink]="['/about']" class="mdl-layout__tab mdl-js-ripple-effect">About<span class="mdl-ripple"></span></a>
        </div>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>